<!DOCTYPE html>
<html manifest="@(Url.Action<OfflineController>(c => c.Manifest()))">
<head>
    <title>All</title>
    <link rel="shortcut icon" href="@Url.FileContent("~/favicon.ico")" />

    <link rel="stylesheet" href="@Url.FileContent("~/Content/jquery.mobile-1.0.1.min.css")" />
    <link rel="stylesheet" href="@Url.FileContent("~/Content/jquery.mobile.structure-1.0.1.min.css")" />

    @* Add manifested script files to the Manifest class *@
    @foreach(var scriptFile in Manifest.CachedScripts) {
        <script type="text/javascript" src="@Url.FileContent(scriptFile.File)"></script>
    }

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">

        var onlinePath = '@Url.FileContent("~/online.txt")';
        var indexPath = '@(Url.Action<OfflineController>(c => c.Index()))';
        var isOnline;

        function doLoad() {

            // replace the current document if it isn't the appropriate start page
            if (window.location.pathname != indexPath)
                window.location.replace(indexPath);

            new OfflineGlobal({
                onlinePath: onlinePath,
            }).init();

        }

        $(document).bind("pagebeforechange", function (e, data) {

            if (typeof(data.toPage) === "string") {
                window.sessionStorage.removeItem("params");

                var toPage = data.toPage;
                var queryCharPosition = toPage.indexOf("?params=");

                if (queryCharPosition >= 0) {
                    var params = toPage.substring(queryCharPosition + 8);
                    toPage = toPage.substring(0, queryCharPosition);

                    window.sessionStorage.setItem("params", params);
                    data.toPage = toPage;
                }
            }
        });

    </script>
</head>
<body>

    @RenderBody()

    <script type="text/javascript">
        $(document).ready(doLoad);
    </script>

</body>
</html>
